name: eve-kernel build

on:
  workflow_dispatch:
  pull_request_review:
    types: [ submitted ]
  push:
    branches:
      - "eve-kernel-amd64-v6.1.38-generic"
env:
  branch_name: "refs/heads/eve-kernel-amd64-v6.1.38-generic"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  packages:
    runs-on: self-hosted
    if: ${{ github.event.review.state == 'approved' || github.ref == 'refs/heads/eve-kernel-amd64-v6.1.38-generic' }}
    steps:
      - name: Get eve-kernel
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Build eve-kernel-amd64
        run: |
          make -f Makefile.eve BRANCH?=${GITHUB_REF##*/} kernel-gcc

      - name: Log in to Docker Hub
        if: ${{ github.ref == env.branch_name }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.RELEASE_DOCKERHUB_ACCOUNT }}
          password: ${{ secrets.RELEASE_DOCKERHUB_TOKEN }}
      
      - name: Push eve-kernel-amd64-v6.1.38-generic if PR approved or pushed
        if: ${{ github.ref == env.branch_name }}
        run: |
          make -f Makefile.eve BRANCH?=${GITHUB_REF##*/} push-gcc
